<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.nearbee.clevertap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <receiver
            android:name="co.nearbee.clevertap.ProximityEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="co.nearbee.PROXIMITY_EVENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.nearbee.notification_override"
            android:value=".ProximityEventReceiver" />

    </application>

</manifest>
